# Now, what I want
# First off specific files
!.gitignore
!.vimrc
!.Xresources
!.xinitrc
!.zshrc
!.ctags
!.tmux.conf
!intellijunk.sh
!.config/awesome/rc.lua

# And a folders
!.irssi/*

# Then ignore everything
*
